<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.zwq.assistant">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.ClassMoreActivity"></activity>
        <activity android:name=".Activity.ActionSignActivity" />
        <activity android:name=".Activity.ActionPubActivity" />
        <activity android:name=".Activity.ActionInfoActivity" />
        <activity android:name=".Activity.MineActivity" />
        <activity android:name=".Activity.LeaveInfoActivity" />
        <activity android:name=".Activity.LeaveRecordActivity" />
        <activity android:name=".Activity.LeaveActivity" />
        <activity android:name=".Activity.AwardsPubActivity" />
        <activity android:name=".Activity.AwardsInfoActivity" />
        <activity android:name=".Activity.AnnoPubActivity" />
        <activity android:name=".Activity.AnnoInfoActivity" />
        <activity android:name=".Activity.ClassManageActivity" />
        <activity android:name=".Activity.OtherInfoActivity" />
        <activity android:name=".Activity.SeekClassActivity" />
        <activity android:name=".Activity.MyClassActivity" />
        <activity android:name=".Activity.ExampleActivity" />
        <activity android:name=".Activity.ForgetPassWordActivity" />
        <activity android:name=".Activity.EditPassActivity" />
        <activity android:name=".Activity.MoreFragment" />
        <activity android:name=".Activity.AwardsFragment" />
        <activity android:name=".Activity.ActionFragment" />
        <activity android:name=".Activity.AnnoFragment" />
        <activity android:name=".Activity.InfoEditActivity" />
        <activity android:name=".Activity.TabMenuActivity" />
        <activity android:name=".Activity.MeFragment" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="Mob-AppKey"
                android:value="2e7743f3d3cca" />
            <meta-data
                android:name="Mob-AppSecret"
                android:value="42f8e522e0085504ba8593b1b809b65c" />
        </activity>
        <activity android:name=".Activity.RegisterActivity" /> <!-- 在application中注册activity -->
        <activity android:name=".Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/network_security_config" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" /> <!-- 网络 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>